<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PDF BOT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/IndexStyle.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <main>
        <h1>SEARCH BOX</h1>
        <!-- call the flask server -->
        <form action="/handle_data" method="post">
            <div class="SearchBox">
                <input type="text" name="search_query" class="SearchBox-input" placeholder="Key words...">

                <button class="SearchBox-button">
                    <i class="SearchBox-icon  material-icons">search</i>
                </button>
            </div>
        </form>
    </main>
    <br><br>
    {% if dict != None: %}
    <table>
        <th>
            <tr>
                <td>Item</td>
                <td>Name</td>
                <td>Urls</td>
            </tr>
        </th>
        {%for key,val in dict.items(): %}
        <tr>
            <td>
                <label>
                    {{key}}
                </label>
            </td>
            <td>
                <label>
                    {{val[0]}}
                </label>
            </td>
            <td>
                    <a href="{{val[1]}}"">Click here</a>
            </td>


        </tr>

        {%endfor%}
    </table>
    {%endif%}
</body>

</html>